# Load csv file from URL

In [1]:
import psycopg2
import csv
import io
from urllib import request
from datetime import datetime
import pandas as pd

response = request.urlopen('https://dq-content.s3.amazonaws.com/251/storm_data.csv')
reader = csv.reader(io.TextIOWrapper(response))
header = next(reader)
storm_data = [row for row in reader]

print(storm_data[:5])

[['2001', '1957', '8', '8', '1800Z', '63', 'NOTNAMED', '22.5', '-140', '50', '0', 'TS', 'Eastern Pacific', '1.140175'], ['2002', '1961', '10', '3', '1200Z', '116', 'PAULINE', '22.1', '-140.2', '45', '0', 'TS', 'Eastern Pacific', '1.16619'], ['2003', '1962', '8', '29', '0600Z', '124', 'C', '18', '-140', '45', '0', 'TS', 'Eastern Pacific', '2.10238'], ['2004', '1967', '7', '14', '0600Z', '168', 'DENISE', '16.6', '-139.5', '45', '0', 'TS', 'Eastern Pacific', '2.12132'], ['2005', '1972', '8', '16', '1200Z', '251', 'DIANA', '18.5', '-139.8', '70', '0', 'H1', 'Eastern Pacific', '1.702939']]

# Create users with specific privileges

In [2]:
conn = psycopg2.connect('dbname=postgres user=postgres password=tdi')
cur = conn.cursor()

# Create Data Production user that can insert, update, and read the data but not delete
cur.execute('DROP ROLE IF EXISTS dbAdmin')
cur.execute('''CREATE USER dbAdmin WITH PASSWORD 'IHW' NOSUPERUSER CREATEDB;
                REVOKE ALL ON storm FROM dbAdmin;
                GRANT INSERT, UPDATE, SELECT ON storm TO dbAdmin''')

# Create Analyst group
cur.execute('DROP ROLE IF EXISTS analyst')
cur.execute('''CREATE GROUP analyst WITH NOLOGIN;
                REVOKE ALL ON storm FROM analyst;
                GRANT SELECT ON storm TO analyst;''')

conn.commit()

# Determine data types

In [3]:
response2 = request.urlopen('https://dq-content.s3.amazonaws.com/251/storm_data.csv')
stormy = pd.read_csv(io.TextIOWrapper(response2))

print(stormy.astype('str').applymap(lambda x: len(x)).max())

ï»¿FID         5
YEAR           4
MONTH          2
DAY            2
AD_TIME        5
BTID           4
NAME           9
LAT            4
LONG           7
WIND_KTS       3
PRESSURE       4
CAT            2
BASIN         15
Shape_Leng    19
dtype: int64

# Convert AD_Time value into HH:MM format

In [4]:
for row in storm_data:
    row[4] = datetime.strptime(row[4][0:2] + ":" + row[4][2:4], "%H:%M").time()

# Create new table

New table 'storm' was created and loaded with values from csv file

In [5]:
cur.execute('DROP TABLE IF EXISTS storm')
cur.execute('''
    CREATE TABLE storm (
        FID integer PRIMARY KEY, 
        YEAR integer, 
        MONTH integer, 
        DAY integer,
        AD_TIME time,
        BTID integer,
        NAME varchar(9),
        LAT float,
        LONG float,
        WIND_KTS float, 
        PRESSURE float,
        CAT varchar(2), 
        BASIN varchar(15),
        Shape_Leng decimal(8,6))''')

# Insert value into table 
for row in storm_data:
    cur.execute('INSERT INTO storm VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)', row)

# Add date column with timestamp format

In [6]:
cur.execute('ALTER TABLE storm ADD DATE TIMESTAMP')
cur.execute("UPDATE storm SET DATE = to_timestamp(YEAR || '-' || MONTH || '-' || DAY || ' ' || AD_TIME, 'YYYY-MM-DD HH24:MI:SS')")

conn.commit()

# Remove extra columns

In [7]:
cur.execute("ALTER TABLE storm DROP COLUMN YEAR, DROP MONTH, DROP DAY, DROP AD_TIME")
conn.commit()

In [11]:
sql = "SELECT * FROM storm ORDER BY date"
df = pd.read_sql(sql, conn)
df

#cur.execute(sql)
#li = cur.fetchall()

,fid,btid,name,lat,long,wind_kts,pressure,cat,basin,shape_leng,date
0,55291,1,NOTNAMED,28.0,-94.8,80.0,0.0,H1,North Atlantic,0.600000,1851-06-25 00:00:00
1,55560,1,NOTNAMED,28.0,-95.4,80.0,0.0,H1,North Atlantic,0.600000,1851-06-25 06:00:00
2,55567,1,NOTNAMED,28.0,-96.0,80.0,0.0,H1,North Atlantic,0.509902,1851-06-25 12:00:00
3,55573,1,NOTNAMED,28.1,-96.5,80.0,0.0,H1,North Atlantic,0.509902,1851-06-25 18:00:00
4,55580,1,NOTNAMED,28.2,-97.0,70.0,0.0,H1,North Atlantic,0.608276,1851-06-26 00:00:00
5,55585,1,NOTNAMED,28.3,-97.6,60.0,0.0,TS,North Atlantic,0.707107,1851-06-26 06:00:00
6,56459,1,NOTNAMED,28.4,-98.3,60.0,0.0,TS,North Atlantic,0.632456,1851-06-26 12:00:00
7,56461,1,NOTNAMED,28.6,-98.9,50.0,0.0,TS,North Atlantic,0.640312,1851-06-26 18:00:00
8,56464,1,NOTNAMED,29.0,-99.4,50.0,0.0,TS,North Atlantic,0.640312,1851-06-27 00:00:00
9,56467,1,NOTNAMED,29.5,-99.8,40.0,0.0,TS,North Atlantic,0.538516,1851-06-27 06:00:00
10,56471,1,NOTNAMED,30.0,-100.0,40.0,0.0,TS,North Atlantic,0.509902,1851-06-27 12:00:00
11,56474,1,NOTNAMED,30.5,-100.1,40.0,0.0,TS,North Atlantic,0.509902,1851-06-27 18:00:00
12,18832,2,NOTNAMED,22.2,-97.6,80.0,0.0,H1,North Atlantic,0.141421,1851-07-05 12:00:00
13,29001,3,NOTNAMED,12.0,-60.0,50.0,0.0,TS,North Atlantic,0.141421,1851-07-10 12:00:00
14,31440,4,NOTNAMED,13.4,-48.0,40.0,0.0,TS,North Atlantic,1.529706,1851-08-16 00:00:00
15,31496,4,NOTNAMED,13.7,-49.5,40.0,0.0,TS,North Atlantic,1.529706,1851-08-16 06:00:00
16,31498,4,NOTNAMED,14.0,-51.0,50.0,0.0,TS,North Atlantic,1.843909,1851-08-16 12:00:00
17,30029,4,NOTNAMED,14.4,-52.8,50.0,0.0,TS,North Atlantic,1.868154,1851-08-16 18:00:00
18,30031,4,NOTNAMED,14.9,-54.6,60.0,0.0,TS,North Atlantic,1.964688,1851-08-17 00:00:00
19,30595,4,NOTNAMED,15.4,-56.5,60.0,0.0,TS,North Atlantic,2.061553,1851-08-17 06:00:00
20,29233,4,NOTNAMED,15.9,-58.5,70.0,0.0,H1,North Atlantic,1.910497,1851-08-17 12:00:00
21,28323,4,NOTNAMED,16.1,-60.4,70.0,0.0,H1,North Atlantic,2.158703,1851-08-17 18:00:00
22,28663,4,NOTNAMED,16.6,-62.5,80.0,0.0,H1,North Atlantic,1.627882,1851-08-18 00:00:00
23,27347,4,NOTNAMED,16.9,-64.1,80.0,0.0,H1,North Atlantic,1.923538,1851-08-18 06:00:00
24,27350,4,NOTNAMED,17.2,-66.0,90.0,0.0,H2,North Atlantic,1.649242,1851-08-18 12:00:00
25,26600,4,NOTNAMED,17.6,-67.6,90.0,0.0,H2,North Atlantic,1.746425,1851-08-18 18:00:00
26,26603,4,NOTNAMED,18.0,-69.3,90.0,0.0,H2,North Atlantic,1.843909,1851-08-19 00:00:00
27,26605,4,NOTNAMED,18.4,-71.1,70.0,0.0,H1,North Atlantic,1.581139,1851-08-19 06:00:00
28,25502,4,NOTNAMED,18.9,-72.6,60.0,0.0,TS,North Atlantic,1.772005,1851-08-19 12:00:00
29,25802,4,NOTNAMED,19.4,-74.3,60.0,0.0,TS,North Atlantic,1.676305,1851-08-19 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...
59198,23257,1410,PALOMA,16.1,-81.9,55.0,994.0,TS,North Atlantic,0.707107,2008-11-06 18:00:00
59199,23260,1410,PALOMA,16.8,-81.8,65.0,987.0,H1,North Atlantic,0.608276,2008-11-07 00:00:00
59200,23262,1410,PALOMA,17.4,-81.7,65.0,985.0,H1,North Atlantic,0.608276,2008-11-07 06:00:00
59201,23694,1410,PALOMA,18.0,-81.6,75.0,979.0,H1,North Atlantic,0.632456,2008-11-07 12:00:00
59202,23745,1410,PALOMA,18.6,-81.4,80.0,975.0,H1,North Atlantic,0.565685,2008-11-07 18:00:00
59203,23747,1410,PALOMA,19.0,-81.0,100.0,964.0,H3,North Atlantic,0.721110,2008-11-08 00:00:00
59204,23750,1410,PALOMA,19.4,-80.4,110.0,951.0,H3,North Atlantic,0.894427,2008-11-08 06:00:00
59205,24460,1410,PALOMA,19.8,-79.6,125.0,944.0,H4,North Atlantic,0.894427,2008-11-08 12:00:00
59206,24737,1410,PALOMA,20.2,-78.8,125.0,951.0,H4,North Atlantic,0.943398,2008-11-08 18:00:00
59207,24741,1410,PALOMA,20.7,-78.0,90.0,968.0,H2,North Atlantic,0.424264,2008-11-09 00:00:00
59208,24150,1410,PALOMA,21.0,-77.7,55.0,990.0,TS,North Atlantic,0.316228,2008-11-09 06:00:00
59209,24153,1410,PALOMA,21.3,-77.8,35.0,1002.0,TS,North Atlantic,0.316228,2008-11-09 12:00:00
59210,24158,1410,PALOMA,21.6,-77.9,25.0,1004.0,TD,North Atlantic,0.200000,2008-11-09 18:00:00
59211,24162,1410,PALOMA,21.8,-77.9,25.0,1005.0,L,North Atlantic,0.316228,2008-11-10 00:00:00
59212,24163,1410,PALOMA,22.1,-77.8,25.0,1006.0,L,North Atlantic,0.316228,2008-11-10 06:00:00
59213,24166,1410,PALOMA,22.4,-77.7,20.0,1007.0,L,North Atlantic,0.141421,2008-11-10 12:00:00
59214,24169,1410,PALOMA,22.5,-77.6,20.0,1008.0,L,North Atlantic,0.141421,2008-11-10 18:00:00
59215,24171,1410,PALOMA,22.4,-77.5,20.0,1009.0,L,North Atlantic,0.316228,2008-11-11 00:00:00
59216,24173,1410,PALOMA,22.1,-77.6,20.0,1009.0,L,North Atlantic,0.424264,2008-11-11 06:00:00
59217,24176,1410,PALOMA,21.8,-77.9,20.0,1009.0,L,North Atlantic,0.640312,2008-11-11 12:00:00
59218,24180,1410,PALOMA,21.3,-78.3,20.0,1009.0,L,North Atlantic,0.640312,2008-11-11 18:00:00
59219,24466,1410,PALOMA,20.9,-78.8,20.0,1009.0,L,North Atlantic,0.905539,2008-11-12 00:00:00
59220,23753,1410,PALOMA,20.8,-79.7,20.0,1009.0,L,North Atlantic,1.019804,2008-11-12 06:00:00
59221,23526,1410,PALOMA,21.0,-80.7,20.0,1009.0,L,North Atlantic,1.077033,2008-11-12 12:00:00
59222,22354,1410,PALOMA,21.4,-81.7,20.0,1009.0,L,North Atlantic,1.303840,2008-11-12 18:00:00
59223,22356,1410,PALOMA,22.1,-82.8,20.0,1010.0,L,North Atlantic,1.220656,2008-11-13 00:00:00
59224,22362,1410,PALOMA,22.8,-83.8,20.0,1010.0,L,North Atlantic,1.345362,2008-11-13 06:00:00
59225,52379,1410,PALOMA,23.8,-84.7,20.0,1010.0,L,North Atlantic,1.442221,2008-11-13 12:00:00
59226,52382,1410,PALOMA,25.0,-85.5,20.0,1010.0,L,North Atlantic,1.843909,2008-11-13 18:00:00
59227,52191,1410,PALOMA,26.8,-85.9,20.0,1010.0,L,North Atlantic,2.121320,2008-11-14 00:00:00